
<!-- Footer Wrap -->
<footer>
	<!-- <div id="f"> -->
		<div class="container">
			<div class="row" style="background-color:#fff">
				<div class="col-lg-4 col-sm-10">

					<h3>Want to see what 5 Across is all about?</h3>
					<div>
						<p>Purchase tickets for the next event!</p>
						<center><h1><a data-toggle="modal" data-target="#register-modal" class="btn btn-primary btn-action">Get Tickets</a></h1></center>
					</div>

				</div>

				<div class="col-lg-4 col-sm-10" id="footer-links">
					<h3>Event Location</h3>
						<a id="location-link">348 E. Main St.<br/>
						Lexington, KY 40507</a><br/></br>
						<a href="tel:+18599604600">859-960-4600</a><br/>
						<a href="mailto:founders@awesomeinc.org">founders@awesomeinc.org</a><br>

						<!-- Parking Modal -->
						<b><a data-toggle="modal" href="#parking" style="text-decoration:underline;">Where to Park?</a></b>

							<div class="container">
								<div class="row centered">

											  <div class="modal fade" id="parking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											    <div class="modal-dialog">
											      <div class="modal-content">
											        <div class="modal-header">
											          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											          <h4 class="modal-title">Parking</h4>
											        </div>
											        <div class="modal-body">
											          <p>
														  <b>Where you can park:</b><br><br>

														  Check out the <a href="https://maps.google.com/maps/ms?f=q&source=s_q&hl=en&geocode=&ie=UTF8&hq=parking+near+awesome+inc&hnear=&msa=0&msid=114116276748560767348.000478ba713245b668b31&ll=38.041577,-84.492438&spn=0.003333,0.004823&t=h&z=18" ><u>Map of Parking</u></a> near Awesome Inc.<br><br>

														  <b>Park Here:</b><br>

														   Option 1: Behind building at the corner of Main and Midland/E. Vine (formerly People’s Exchange Bank)  <br>Option 2: Lot to the left of Awesome Inc building <br> Option 3: Metered spots behind the building (on Water St.) <br> Option 4:Parking Garage - across the street, under “Main and Vine” apartment/condo complex.<br><br>

														 <b> Do Not Park:</b><br>

														  Outside the retail plaza (in front of garage) <br>Spaces marked for Wells Fargo, Commerce Lexington, Porter Paints or VisitLex<br>


											          </p>
											        </div>
											        <div class="modal-footer">
											          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											        </div>
											      </div><!-- /.modal-content -->
											    </div><!-- /.modal-dialog -->
											  </div><!-- /.modal -->

								</div><!-- /row -->
							</div><!-- /container -->
							<!-- Parking Modal -->
					</p>

				</div>
				<div class="col-lg-4 col-sm-10">

					<h3>Have a great idea? Pitch it.</h3>
					<div>
						<p>Apply to become one of the next contestants!</p>
						<center><h1><a href="http://www.5across.org/apply/" class="btn btn-primary btn-action">Apply</a></h1></center>
					</div>
				</div>
			</div>
			</div><!-- /row -->
		</div><!-- /container -->
	<!-- </div> --><!-- /Footer wrap -->
</footer>


<div class="footer">
    <div class="container sponsors">
		<h1><center><b>Sponsors</b></center></h1>
		<div class="row">
			<div class="col-lg-3 col-xs-6">
				<a href="http://www.awesomeinc.org" ><img src="/assets/img/sponsors/Awesome-Inc.png"></a>
	        </div>
	        <div class="col-lg-3 col-xs-6">
	        	<a href="http://kyinnovation.com/" ><img src="/assets/img/sponsors/ky_innovation_network.png"></a>
	        </div>
	        <div class="col-lg-3 col-xs-6">
	        	<a href="http://www.dinsmore.com/" ><img src="/assets/img/sponsors/Dinsmorelogo2.png"></a>
	        </div>
	        <div class="col-lg-3 col-xs-6">
	        	<a href="http://www.commercelexington.com/" ><img src="/assets/img/sponsors/CLX-ED-Logo.png"></a>
	        </div>
    	</div>
    	<div class="row">
	        <div class="col-lg-3 col-xs-6">
	        	<a href="#" ><img src="/assets/img/sponsors/LFUCG_Logo.jpg"></a>
	        </div>
	        <div class="col-lg-3 col-xs-6">
	        	<a href="https://lexington.score.org/" ><img src="/assets/img/sponsors/score.png"></a>
	        </div>
	        <div class="col-lg-3 col-xs-6">
	        	<a href="#" ><img src="/assets/img/sponsors/SPARK-logo.png"></a>
	        </div>
	        <div class="col-lg-3 col-xs-6">
	        	<a href="https://www.windstream.com/" ><img src="/assets/img/sponsors/windstream_footer_logo.png"></a>
	        </div>
	    </div>
    </div> <!-- /container -->

</div>


	<!-- Google Analytics JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2028878-9']);
	  _gaq.push(['_setDomainName', '5across.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
