<nav class="navbar navbar-default navbar-fixed-top navbar-static">
    <div class="container example5">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img style=" width: 170px;" src="/assets/img/5-Across-Logo.png" alt="5Across">
        </a>
      </div>
      <div id="navbar5" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li {% if page.path contains 'about' %} class="active" {% endif %} class="dropdown">    
            <a href="/about/" 
            onmouseover="mopen('m1')" 
            onmouseout="mclosetime()">About
            </a>
        </li> 
        <li {% if page.path contains 'schedule' %} class="active" {% endif %} class="dropdown">  
            <a href="/schedule/" 
            onmouseover="mopen('m2')" 
            onmouseout="mclosetime()">Schedule
            </a>
        </li>
        <li {% if page.path contains 'how-to-vote' %} class="active" {% endif %} class="dropdown">  
            <a href="/how-to-vote/" 
            onmouseover="mopen('m5')" 
            onmouseout="mclosetime()">How To Vote
            </a>
        </li>
        <li {% if page.path contains 'videos' %} class="active" {% endif %} class="dropdown">  
            <a href="/videos/" 
            onmouseover="mopen('m5')" 
            onmouseout="mclosetime()">Videos
            </a>
        </li>
        <li {% if page.path contains 'blog' %} class="active" {% endif %} class="dropdown">   
            <a href="/blog/" 
            onmouseover="mopen('m4')" 
            onmouseout="mclosetime()">Blog
            </a>
        </li>
        <li {% if page.path contains 'apply' %} class="active" {% endif %} class="dropdown">  
            <a href="/apply/" 
            onmouseover="mopen('m2')" 
            onmouseout="mclosetime()" id="apply">Apply
            </a>
        </li>
    </ul>
  </div>
  <!--/.nav-collapse -->
</div>
<!--/.container-fluid -->
</nav>
